*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #16213E ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .bird{
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    position: relative;
}
.container .bird .red_container{
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    animation: redAnim 2.9s ease infinite;
    z-index: 70;
}
.container .bird .red_container .red{
    width: 50%;
    height: 100%;
    background-color: red;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}
@keyframes redAnim {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
    }

    .container .bird .face{
        width: 200px;
        height: 200px;
        border: 1px solid transparent;
        position: absolute;
        top: 50px;
        left: 50px;
        animation: faceAnim 2.9s ease infinite;
        z-index: 90;
    }
    .container .bird .face .white_container{
        width: 50%;
        height: 100%;
        background-color: white;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }
    @keyframes faceAnim {
        0%{
            transform: rotateZ(-0deg);
        }
        50%{
            transform: rotateZ(-180deg);
        }
        100%{
            transform: rotateZ(-360deg);
        }
    }
    .container .bird .orange_container{
        width: 200px;
        height: 200px;
        border: 1px solid transparent;
        position: absolute;
        top: 50px;
        left: 50px;
        transform: rotateZ(180deg);
        animation: orangeAnim 2.9s ease infinite;
        z-index: 110;
}
    .container .bird .orange_container .orange{
        width: 50%;
        height: 50%;
        background-color: orange;
        border-bottom-left-radius: 100px;
        position: absolute;
        top: 100px;
    }
    @keyframes orangeAnim {
        0%{
            transform: rotateZ();
        }
        50%{
            transform: rotateZ(90deg);
        }
        100%{
            transform: rotateZ();
        }
    }
    .container .bird .shadow_container{
        width: 200px;
        height: 200px;
        border: 1px solid transparent;
        position: absolute;
        top: 50px;
        left: 50px;
        transform: rotateZ(180deg);
        animation: shadowAnim 2.9s ease infinite;
        z-index: 90;
    }
    .container .bird .shadow_container .shadow{
        width: 50%;
        height: 50%;
        background-color: #E5E6E7;
        border-bottom-left-radius: 100px;
        transform: rotateZ(180deg);
        position: absolute;
        left: 100px;
    }
    @keyframes shadowAnim {
        0%{
            transform: rotateZ();
        }
        50%{
            transform: rotateZ(90deg);
        }
        100%{
            transform: rotateZ(-180deg);
        }
    }
    .container .bird .black_container{
        width: 100px;
        height: 100px;
        border: 1px solid transparent;
        position: absolute;
        top: 50px;
        left: 50px;    
        animation: blackAnim 2.9s ease infinite;
        z-index: 100;
    }
    .container .bird .black_container .black{
        width: 50px;
        height: 50px;
        background-color: black;
        border-radius: 50%;
        position: absolute; 
        top: 45px;
        left: 45px;
    }
    @keyframes blackAnim {
        0%{
            transform: translateX();
        }
        50%{
            transform: translateX(58px);
        }
        100%{
            transform: translateX();
        }
        
    }
    .container .bird .beak_container{
        width: 200px;
        height: 200px;
        border: 1px solid transparent;
        position: absolute;
        top: 50px;
        left: 50px;
        animation: beakAnim 2.9s ease infinite;
        z-index: 10;

    }
    .container .bird .beak_container .beak{
        width: 50px;
        height: 50px;
        background-color: orange;
        border-bottom-right-radius: 100px;
        position: absolute;
        top: 98px;
        left: 98px;
    }
    @keyframes beakAnim {
        0%{
            transform: rotateZ(10deg);
        }
        50%{
            transform: rotateZ(90deg);
        }
    }